name: Build and Push to Docker Hub

on:
  push:
    branches: [ "main" ] # Runs every time you push to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: 'sabourinj'
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          push: true
          # Replace 'your-image-name' with what you want it called on Docker Hub
          tags: sabourinj/barcodebuddy:latest
